<select>
<option value='time'>time</option>
<option value='latitude'>latitude</option>
<option value='longitude'>longitude</option>
<option value='depth'>depth</option>
<option value='mag'>mag</option>
<option value='magType'>magType</option>
<option value='nst'>nst</option>
<option value='gap'>gap</option>
<option value='dmin'>dmin</option>
<option value='rms'>rms</option>
<option value='net'>net</option>
<option value='id'>id</option>
<option value='updated'>updated</option>
<option value='place'>place</option>
<option value='type'>type</option>
</select>
